<h2>Pokemon</h2>

<div>
  <label>
    <input #searchBox placeholder="Search" (input)="search(searchBox.value)" />
  </label>
</div>

<ul>
  <li>
    <div class="row column-names">
      <p class='col-4'>Name</p>
      <p class='col-4'>ID</p>
      <p class='col-4'>Types</p>
    </div>
  </li>
  <li *ngFor="let pokemon of allPokemon">
    <a routerLink="/detail/{{pokemon.id}}">
      <div class="row">
        <p class='col-4'>{{pokemon.name}}</p>
        <p class='col-4'>#{{pokemon.id}}</p>
        <p class='col-4'>{{pokemon.types}}</p>
      </div>
    </a>
  </li>
</ul>
