.card-deck {
    justify-content: space-evenly;
    margin: 0, auto;
}

.card {
    max-width: 300px;
    margin-bottom: 20px;
}

.card-img-top {
    max-width: 150px;
    margin: 0 auto;
}

.card-link {
    text-decoration: none;
    color: unset;
}