<h3>Featured Pokemon</h3>

<div class="row">
    <div class="card-deck" class="row col-10">
        <div *ngFor="let monster of pokemon" class="col-3">
            <a class="card-link" routerLink="/detail/{{monster.id}}">
                <div class="card">
                <img src="{{monster.sprites.front_default}}" class="card-img-top" alt="{{monster.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{monster.name}}</h5>
                    <p class="card-text text-muted"># {{monster.id}}</p>
                </div>
                </div>
            </a>
        </div>
    </div>
</div>
