<div *ngIf="pokemon">
    <h2>About {{pokemon.name | titlecase}}</h2>

    <img  src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png" />
    <div><span>ID: </span>{{pokemon.id}}</div>
    <div><span>Height: </span>{{pokemon.height}}</div>
    <div><span>Weight: </span>{{pokemon.weight}}</div>
    <div><span>Possible Moves: </span>
        <!-- TODO: Show move info in a tool-tip style on hover -->
        <ul>
            <li *ngFor="let move of pokemon.moves" class="move">{{move}}</li>
        </ul>
    </div>
    <div><span>Base Stats: </span>
        <ul>
            <li *ngFor="let stat of pokemon.baseStats">
                {{stat.name}} - {{stat.stat}}
            </li>
        </ul>
    </div>
</div>
